<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>auction</title>
  </head>

  <body>
    <h1>ready to auction ?</h1>

    <form action="/auctions" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="price" name="price" />
      <button type="submit">Submit</button>
    </form>

    <ul class="auctions">
      <!-- Loop through auctions -->
      <% for(var i = 0; i < auctions.length; i++) {%>
        <li class="auction">
          <!-- Output name from the iterated auction object -->
          <span><%= auctions[i].name %></span>:
          <!-- Output auction from the iterated price object -->
          <span><%= auctions[i].price %></span>

          <button id="update-button">bid !</button>
        </li>
      <% } %>
    </ul>

      <script src="/main.js"></script>

  </body>
</html>